/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-size: 20px;
}

.page {
  font-family: Reg;
}

.ribbon {
  height: 3px;
  width: 100%;
  display: flex;
}
.ribbon > div {
  width: 25%;
  height: 100%;
}
.ribbon .color-1 {
  background-color: #D26132;
}
.ribbon .color-2 {
  background-color: #6E767A;
}
.ribbon .color-3 {
  background-color: #DDC69A;
}
.ribbon .color-4 {
  background-color: #B4BBBF;
}

.page#welcome_page {
  width: 100%;
  position: relative;
}
.page#welcome_page .content {
  padding: 16px;
}
.page#welcome_page .box-loading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30%;
  margin-bottom: 30%;
}
.page#welcome_page .box-loading .welcome-logo {
  margin-bottom: 2rem;
}
.page#welcome_page .box-loading .welcome-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}
.page#welcome_page .box-loading .welcome-text > span[class*=i] {
  margin-right: 0.5rem;
}

.i-loading {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/i-loading.svg);
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.service-status .box-unit {
  top: 120px;
  padding-top: 0;
  height: 80px;
}
.service-status .box-unit .project-list {
  top: 0;
}
.service-status .box-history {
  padding-top: calc(216px + 48px - 16px);
}

.box-unit {
  position: fixed;
  z-index: 90;
  top: 60px;
  left: 0;
  width: 100%;
  height: 96px;
  padding: 0.8rem;
  background-color: #FFF;
}
.box-unit .project {
  padding: 0.6rem;
  background-color: rgba(0, 0, 0, 0.025);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  font-family: Med;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position: relative;
}
.box-unit .project::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url(../images/i-arrow-down.svg);
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}
.box-unit .project .name {
  color: rgba(0, 0, 0, 0.8);
}
.box-unit .project .unit {
  color: rgba(0, 0, 0, 0.6);
}
.box-unit .project-list {
  display: none;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  z-index: 99;
  width: calc(100% - 1.6rem);
  max-height: 400px;
  overflow: scroll;
  background-color: #FFF;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.25);
}
.box-unit .project-list + #fade {
  display: none;
}
.box-unit .project-list.open {
  display: block;
}
.box-unit .project-list.open + #fade {
  display: block;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box-unit .project-list .list-item {
  padding: 0.6rem;
  font-family: Med;
  font-size: 20px;
  text-transform: uppercase;
}
.box-unit .project-list .list-item.select {
  background-color: rgba(0, 0, 0, 0.05);
}
.box-unit .project-list .list-item + .list-item {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.box-unit .project-list .list-item .name {
  color: rgba(0, 0, 0, 0.8);
}
.box-unit .project-list .list-item .unit {
  color: rgba(0, 0, 0, 0.6);
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  padding: 0.8rem;
  width: 90%;
  background-color: #FFF;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.popup.open {
  display: block;
}
.popup .header {
  padding-bottom: 0.8rem;
}
.popup .header .title {
  font-family: Bd;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  text-align: center;
}
.popup:not(.confirmation) .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popup:not(.confirmation) .header .title {
  text-align: left;
}
.popup:not(.confirmation) .header.center .title {
  flex-grow: 1;
  text-align: center;
}
.popup:not(.confirmation) .header .close {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/i-close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}
.popup .body {
  max-height: 400px;
  overflow-y: scroll;
  font-family: Reg;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
.popup#popup_qr .body {
  max-height: none;
}
.popup .footer {
  padding-top: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popup .footer .btn {
  width: calc((100% - 16px) / 2);
}
.popup.open + .fade {
  display: block;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.app-navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.app-navbar .app-navbar-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-right: 12px;
  padding-left: 12px;
}

.page-navbar {
  padding: 0.4rem 0.6rem;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 20;
  background-color: #fff;
}
.page-navbar .btn-back {
  display: block;
  width: 40px;
  min-width: 40px;
  height: 40px;
  appearance: none;
  border: none;
  background-color: transparent;
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/i-back.svg);
}
.page-navbar .title {
  font-family: Bd;
  font-size: 20px;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-navbar .icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.page-navbar .icon > img {
  display: block;
  width: 100%;
  height: 100%;
}
.page-navbar .service {
  padding-left: 0.4rem;
  flex-grow: 1;
}
.page-navbar .service .name {
  font-family: Bd;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}
.page-navbar .service .info {
  display: flex;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.6);
}
.page-navbar .service .info .project {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 180px;
}
.page-navbar .service .info .unit {
  width: 80px;
}

.i-avatar {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: #eaeaea;
}

.app-logo {
  display: block;
  width: 128px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-lang {
  display: flex;
  flex-direction: row;
}
.app-lang > li {
  position: relative;
}
.app-lang > li + li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.05);
  transform: translate(-50%, -50%);
}
.app-lang-link {
  display: block;
  padding: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.app-lang-link.active {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}

.box {
  padding: calc(120px + 0.8rem) 0.8rem calc(100px + 0.8rem);
}

.box-question {
  padding: calc(120px + 0.8rem) 0.8rem calc(100px + 0.8rem);
}
.box-question .question-title {
  font-family: Bd;
  font-size: 30px;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
.box-question .question-desc {
  font-family: Reg;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.box-question .answer-group {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.box-question .answer-group .box-answer {
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
}
.box-question .answer-group .box-answer label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-family: Med;
  font-size: 20px;
}
.box-question .answer-group .box-answer label::before {
  margin-right: 0.6rem;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: -100px;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: url(../images/i-checked-wh.svg);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}
.box-question .answer-group .box-answer input {
  display: none;
}
.box-question .answer-group .box-answer input:checked + label::before {
  background-color: #d26132;
  background-position: center;
}

.box-package {
  padding-top: 120px;
  padding-bottom: 0.8rem;
  padding-top: calc(120px);
  padding-bottom: calc(100px);
}
.box-package.air {
  background-color: rgba(216, 200, 236, 0.25);
}
.box-package.air .package-box {
  -webkit-box-shadow: 0 4px 16px rgba(216, 200, 236, 0.75);
  -moz-box-shadow: 0 4px 16px rgba(216, 200, 236, 0.75);
  box-shadow: 0 4px 16px rgba(216, 200, 236, 0.75);
}
.box-package.air .package-box.air {
  padding: 0.6rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.box-package.air .package-box.air.rec {
  overflow: hidden;
  border: 1px solid #c52121;
}
.box-package.air .package-box.air.rec .info > .package-name {
  padding-right: 3rem;
}
.box-package.air .package-box.air.rec .info > .package-desc {
  padding-right: 2rem;
}
.box-package.air .package-box.air.rec::after {
  content: "Recommend";
  display: block;
  padding: 0.2rem 1.5rem;
  position: absolute;
  top: 24px;
  right: -34px;
  transform: rotate(45deg);
  font-family: Med;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #c52121;
}
.box-package.air .package-box.air .img {
  width: 96px;
  min-width: 96px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.box-package.air .package-box.air .img .btn-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  background-position: top left;
  border-radius: 0 0 14px 0;
}
.box-package.air .package-box.air .img .img-service {
  width: 100%;
  display: block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.box-package.air .package-box.air .info {
  flex-grow: 1;
  padding-left: 12px;
}
.box-package.air .package-box.air .info .package-name {
  margin-bottom: 0.2rem;
  font-size: 22px;
}
.box-package.air .package-box.air .info .package-desc {
  margin-bottom: 0.4rem;
}
.box-package.air .package-box.air .info .price {
  flex-direction: column;
  align-items: flex-start;
}
.box-package.air .package-box.air .info .price > .special + .normal {
  text-decoration: line-through;
}
.box-package.air .package-box.air .info .price .special {
  color: #c52121;
}
.box-package.air .package-box.air .info .price .normal,
.box-package.air .package-box.air .info .price .special {
  margin-right: 0;
}
.box-package.maid {
  background-color: rgba(210, 231, 250, 0.25);
}
.box-package.maid .package-box {
  -webkit-box-shadow: 0 4px 16px rgba(219, 232, 245, 0.75);
  -moz-box-shadow: 0 4px 16px rgba(219, 232, 245, 0.75);
  box-shadow: 0 4px 16px rgba(219, 232, 245, 0.75);
}
.box-package.laundry {
  background-color: #f2f6ee;
}
.box-package.laundry .package-box {
  -webkit-box-shadow: 0 4px 16px rgba(190, 229, 172, 0.75);
  -moz-box-shadow: 0 4px 16px rgba(190, 229, 172, 0.75);
  box-shadow: 0 4px 16px rgba(190, 229, 172, 0.75);
}
.box-package > .header {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
.box-package > .body {
  padding: 16px;
  margin-left: -16px;
}
.box-package .package-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.box-package .package-list > .package-list-item {
  padding-bottom: 12px;
  padding-left: 16px;
  width: 100%;
}
.box-package .package-list > .package-list-item.hide {
  display: none;
}
.box-package .package-list .ctl-action {
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;
}
.box-package .package-list .ctl-action .btn-loadmore {
  display: block;
  width: 100%;
  height: 40px;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 4px 16px rgba(219, 232, 245, 0.75);
  -moz-box-shadow: 0 4px 16px rgba(219, 232, 245, 0.75);
  box-shadow: 0 4px 16px rgba(219, 232, 245, 0.75);
}
.box-package .package-list .package-box {
  position: relative;
  padding: 0.8rem;
  background-color: #fff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}
.box-package .package-list .package-box .package-name {
  margin-bottom: 0.4rem;
  font-family: Bd;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.8);
}
.box-package .package-list .package-box .package-desc {
  margin-bottom: 0.4rem;
  font-family: Reg;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.6);
}
.box-package .package-list .package-box .package-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box-package .package-list .package-box .price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.box-package .package-list .package-box .price > .normal {
  margin-right: 0.6rem;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: line-through;
}
.box-package .package-list .package-box .price > .special {
  margin-right: 0.6rem;
  font-size: 25px;
  font-family: Bd;
  color: rgba(0, 0, 0, 0.8);
}
.box-package .package-list .package-box .price > .normal + .special {
  color: #c52121;
}
.box-package .package-list .package-box.rec {
  overflow: hidden;
}
.box-package .package-list .package-box.rec > .package-name,
.box-package .package-list .package-box.rec > .package-desc {
  padding-right: 3rem;
}
.box-package .package-list .package-box.rec::after {
  content: "Recommend";
  display: block;
  padding: 0.2rem 1.2rem;
  position: absolute;
  top: 25px;
  right: -30px;
  transform: rotate(45deg);
  font-family: Med;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #c52121;
}
.box-package .package-list .package-box .btn-info {
  display: block;
  width: 32px;
  height: 32px;
  align-self: center;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/i-info.svg);
}
.box-package .package-list .package-box .unit-adj {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.box-package .package-list .package-box .unit-adj > .btn-dec,
.box-package .package-list .package-box .unit-adj > .btn-inc {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.box-package .package-list .package-box .unit-adj > .btn-dec {
  background-image: url(../images/i-decrease.svg);
}
.box-package .package-list .package-box .unit-adj > .btn-inc {
  background-image: url(../images/i-increase.svg);
}
.box-package .package-list .package-box .unit-adj > .unit-count {
  margin-right: 8px;
  margin-left: 8px;
  padding: 0;
  width: 32px;
  height: 32px;
  font-family: Bd;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.btn-loadmore,
.btn-package-select {
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  padding: 0.2rem 0.8rem;
  height: 32px;
  font-family: Med;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  -webkit-font-smoothing: antialiased;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.btn-loadmore.disabled, .btn-loadmore:disabled, .btn-loadmore[disabled],
.btn-package-select.disabled,
.btn-package-select:disabled,
.btn-package-select[disabled] {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-package-select {
  color: #fff;
  background-color: #d26132;
}

.btn-loadmore {
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
}

.box-service {
  margin-top: 160px;
  margin-bottom: 0.8rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.box-service > .header {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box-service > .header > .logo-inline {
  width: 40px;
  height: 40px;
}
.box-service > .header > .heading {
  padding-left: 0.8rem;
  font-family: Med;
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}
.box-service > .body {
  padding: 16px;
  margin-left: -16px;
}
.box-service .service-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}
.box-service .service-list > .service-list-item {
  padding-bottom: 16px;
  padding-left: 16px;
  width: 50%;
}
.box-service .service-list .service-box .service-logo {
  width: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 0.2rem;
}
.box-service .service-list .service-box .service-name {
  font-family: Bd;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.8);
}

.box-payment {
  margin-top: 0.8rem;
  padding-top: 0.8rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.box-payment .payment-header .title {
  font-family: Bd;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.8);
}
.box-payment .payment-choice {
  margin-right: -0.4rem;
  margin-left: -0.4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}
.box-payment .payment-choice > input[type=radio] {
  display: none;
}
.box-payment .payment-choice > label {
  margin-right: 0.4rem;
  margin-left: 0.4rem;
  padding: 0.4rem 0.4rem 1rem;
  width: 50%;
  height: 160px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: Med;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}
.box-payment .payment-choice > label[for=payment_qrcode]::before {
  background-image: url(../images/i-qrcode-inactive.svg);
}
.box-payment .payment-choice > label[for=payment_creditcard]::before {
  background-image: url(../images/i-creditcard-inactive.svg);
}
.box-payment .payment-choice > label::before {
  content: "";
  margin-bottom: 0.8rem;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.05);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 48px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -o-border-radius: 32px;
  border-radius: 32px;
}
.box-payment .payment-choice > label::after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  background-image: url(../images/i-checked-wh.svg);
}
.box-payment .payment-choice > input[type=radio]:checked + label {
  border-color: #d26132;
}
.box-payment .payment-choice > input[type=radio]:checked + label[for=payment_qrcode]::before {
  background-image: url(../images/i-qrcode-active.svg);
}
.box-payment .payment-choice > input[type=radio]:checked + label[for=payment_creditcard]::before {
  background-image: url(../images/i-creditcard-active.svg);
}
.box-payment .payment-choice > input[type=radio]:checked + label::before {
  background-color: rgba(221, 198, 154, 0.2);
}
.box-payment .payment-choice > input[type=radio]:checked + label::after {
  background-color: #d26132;
}
.box-payment .payment-terms-acception input[type=checkbox] {
  display: none;
}
.box-payment .payment-terms-acception label {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  font-family: Reg;
  color: rgba(0, 0, 0, 0.8);
}
.box-payment .payment-terms-acception label a {
  text-decoration: underline;
}
.box-payment .payment-terms-acception label::before {
  content: "";
  display: block;
  margin-right: 0.6rem;
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.box-payment .payment-terms-acception input[type=checkbox]:checked + label::before {
  background-color: #d26132;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  background-image: url(../images/i-checked-wh.svg);
}

.box-bottom-action {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.8rem 0.8rem 1.6rem;
  width: 100%;
  background-color: #FFF;
}
.box-bottom-action.notification {
  display: flex;
  justify-content: center;
}
.box-bottom-action.maid, .box-bottom-action.air, .box-bottom-action.laundry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.box-bottom-action.maid .info, .box-bottom-action.air .info, .box-bottom-action.laundry .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-family: Med;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}
.box-bottom-action.maid .info .label, .box-bottom-action.air .info .label, .box-bottom-action.laundry .info .label {
  font-size: 20px;
}
.box-bottom-action.maid .info .value, .box-bottom-action.air .info .value, .box-bottom-action.laundry .info .value {
  font-family: Bd;
  font-size: 30px;
}
.box-bottom-action.maid .btn, .box-bottom-action.air .btn, .box-bottom-action.laundry .btn {
  width: 120px;
}
.box-bottom-action.maid {
  color: #FFF;
  background-color: #2676BC;
}
.box-bottom-action.air {
  color: #FFF;
  background-color: #612F7A;
}
.box-bottom-action.laundry {
  color: #FFF;
  background-color: #459713;
}

.calendar {
  width: 100%;
  background-color: #FFF;
}

.month {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.month i {
  display: block;
  width: 40px;
  height: 40px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.month i.prev {
  background-image: url(../images/i-prev.svg);
}
.month i.next {
  background-image: url(../images/i-next.svg);
}
.month h1 {
  font-family: Bd;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}

.weekdays {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
.weekdays div {
  font-family: Med;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.days,
.time {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.days div,
.time div {
  margin: 2px;
  font-family: Med;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  width: calc((100% - 28px) / 7);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid transparent;
}
.days div.active,
.time div.active {
  color: #D26132;
  background-color: rgba(210, 97, 50, 0.05);
  border: 1px solid #D26132;
}
.days div.disabled,
.time div.disabled {
  opacity: 0.5;
}
.days div.prev-date, .days div.next-date,
.time div.prev-date,
.time div.next-date {
  opacity: 0.5;
}
.days div.today,
.time div.today {
  background-color: rgba(221, 198, 154, 0.5);
}

.box-calendar + .box-time {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.box-time .header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Bd;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}
.box-time .time div {
  width: calc((100% - 16px) / 4);
}

.box-form {
  display: flex;
  flex-direction: column;
}
.box-form .form-item {
  display: flex;
  flex-direction: row;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.box-form .form-item .label {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-form .form-item .label.note {
  width: 100%;
}
.box-form .form-item .label label,
.box-form .form-item .label .title,
.box-form .form-item .label .info {
  font-family: Med;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.8);
}
.box-form .form-item .label .title {
  margin-bottom: 0.2rem;
}
.box-form .form-item .label .info {
  font-family: Reg;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
.box-form .form-item .input {
  flex-grow: 1;
  width: 66.66%;
}
.box-form .form-item .input input,
.box-form .form-item .input select,
.box-form .form-item .input textarea {
  padding: 0.2rem 0.4rem;
  width: 100%;
  height: 40px;
  font-family: Reg;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.box-form .form-item .input input.date,
.box-form .form-item .input select.date,
.box-form .form-item .input textarea.date {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 8px);
  background-image: url(../images/i-calendar.svg);
}
.box-form .form-item .input input::placeholder, .box-form .form-item .input input::-moz-placeholder,
.box-form .form-item .input select::placeholder,
.box-form .form-item .input select::-moz-placeholder,
.box-form .form-item .input textarea::placeholder,
.box-form .form-item .input textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.box-form .form-item .input input[readonly], .box-form .form-item .input input[disabled], .box-form .form-item .input input:disabled,
.box-form .form-item .input select[readonly],
.box-form .form-item .input select[disabled],
.box-form .form-item .input select:disabled,
.box-form .form-item .input textarea[readonly],
.box-form .form-item .input textarea[disabled],
.box-form .form-item .input textarea:disabled {
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  outline: none;
}
.box-form .form-item .input textarea {
  height: auto;
}
.box-form .form-item .input textarea::placeholder, .box-form .form-item .input textarea::-moz-placeholder {
  color: rgba(22, 11, 11, 0.6);
}

.box-history {
  width: 100%;
}
.box-history .header {
  position: fixed;
  z-index: 80;
  top: calc(200px);
  left: 0;
  width: 100%;
  background-color: #FFF;
}
.box-history .body {
  padding: 0.8rem;
}
.box-history .tab {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 1px solid #D26132;
}
.box-history .tab .tab-item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0.6rem;
  height: 48px;
  font-family: Med;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.6);
}
.box-history .tab .tab-item.active {
  color: #FFF;
  background-color: #D26132;
}

.service-detail-heading,
.box-history-service {
  display: flex;
  flex-direction: row;
}
.service-detail-heading .icon,
.box-history-service .icon {
  width: 80px;
  min-width: 80px;
}
.service-detail-heading .icon > img,
.box-history-service .icon > img {
  display: block;
  width: 100%;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}
.service-detail-heading .info,
.box-history-service .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 0.8rem;
  font-family: Med;
  letter-spacing: 0.01rem;
}
.service-detail-heading .info .title,
.box-history-service .info .title {
  margin-bottom: 0.2rem;
  font-family: Bd;
  font-size: 30px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}
.service-detail-heading .info .desc,
.box-history-service .info .desc {
  margin-bottom: 0.4rem;
  font-family: Reg;
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}
.service-detail-heading .info.small .title,
.box-history-service .info.small .title {
  font-size: 20px;
  font-family: Med;
}
.service-detail-heading .info.small .desc,
.box-history-service .info.small .desc {
  margin-bottom: 0.2rem;
  font-size: 18px;
  font-family: Reg;
}

.box-history-service .icon {
  width: 60px;
  min-width: 60px;
}
.box-history-service .info {
  padding-bottom: 0.6rem;
  padding-left: 0;
  margin-bottom: 0.6rem;
  margin-left: 0.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
}
.box-history-service .info::after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-size: 24px;
  background-image: url(../images/i-next.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.box-history-service .info .title {
  font-size: 20px;
}
.box-history-service .info .desc {
  font-size: 16px;
}
.box-history-service .info .title ~ .desc {
  margin-bottom: 0;
}
.box-history-service .info .title ~ .desc:last-of-type {
  margin-bottom: 0.4rem;
}
.box-history-service .info .box-status {
  font-size: 18px;
}

.box-status {
  align-self: flex-start;
  display: inline-block;
  padding: 0.2rem 0.6rem;
  background-color: rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
}
.box-status.warning {
  color: #c52121;
  background-color: rgba(197, 33, 33, 0.05);
}
.box-status.process {
  color: #009bde;
  background-color: rgba(0, 155, 222, 0.05);
}
.box-status.success {
  color: #189518;
  background-color: rgba(70, 203, 70, 0.05);
}

.service-detail-list-item {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
}

.a-link {
  font-size: 20px;
  text-decoration: none;
  color: #D26132;
}

.rating {
  display: flex;
}
.rating.center {
  margin-bottom: 8px;
  justify-content: center;
}
.rating.center .star {
  width: 24px;
  height: 24px;
  background-size: 24px;
}
.rating.center .star::after {
  width: 24px;
  height: 24px;
  background-size: 24px;
}
.rating .star {
  position: relative;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-image: url(/public/images/i-star-inactive.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: center;
}
.rating .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: center;
}
.rating .star.score::after {
  background-image: url(/public/images/i-star-active.svg);
}

.detail-box {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  flex-grow: 1;
}
.detail-box + .detail-box {
  width: 50%;
  max-width: 50%;
}
.detail-box .heading .title {
  font-family: Bd;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.4);
}
.detail-box.rating {
  padding: 0.8rem;
  background-color: rgba(70, 203, 70, 0.05);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.detail-box.rating .a-link {
  font-family: Med;
  font-size: 20px;
  color: #189518;
  text-transform: uppercase;
  text-align-last: center;
  text-decoration: underline;
}
.detail-box.adj .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detail-box.adj .heading .title {
  flex-grow: 1;
}
.detail-box.adj .heading .a-link {
  font-family: Bd;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}
.detail-box .body {
  padding-top: 0.4rem;
}
.detail-box .body .list-heading .item,
.detail-box .body .list-body .item,
.detail-box .body .list-footer .item {
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  width: 100%;
}
.detail-box .body .list-heading .item + .item,
.detail-box .body .list-body .item + .item,
.detail-box .body .list-footer .item + .item {
  margin-top: 0.4rem;
}
.detail-box .body .list-heading .item .label,
.detail-box .body .list-heading .item .value,
.detail-box .body .list-body .item .label,
.detail-box .body .list-body .item .value,
.detail-box .body .list-footer .item .label,
.detail-box .body .list-footer .item .value {
  font-family: Med;
  font-size: 20px;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}
.detail-box .body .list-heading .item .label .total-price,
.detail-box .body .list-heading .item .value .total-price,
.detail-box .body .list-body .item .label .total-price,
.detail-box .body .list-body .item .value .total-price,
.detail-box .body .list-footer .item .label .total-price,
.detail-box .body .list-footer .item .value .total-price {
  color: #C52121;
}
.detail-box .body .list-heading .item .number,
.detail-box .body .list-body .item .number,
.detail-box .body .list-footer .item .number {
  width: 96px;
  min-width: 96px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.detail-box .body .list-heading .item .number .btn-number-dec,
.detail-box .body .list-heading .item .number .btn-number-inc,
.detail-box .body .list-heading .item .number .item-number,
.detail-box .body .list-body .item .number .btn-number-dec,
.detail-box .body .list-body .item .number .btn-number-inc,
.detail-box .body .list-body .item .number .item-number,
.detail-box .body .list-footer .item .number .btn-number-dec,
.detail-box .body .list-footer .item .number .btn-number-inc,
.detail-box .body .list-footer .item .number .item-number {
  width: 32px;
  height: 32px;
  appearance: none;
  border: none;
  background-color: transparent;
}
.detail-box .body .list-heading .item .number [class*=btn-number],
.detail-box .body .list-body .item .number [class*=btn-number],
.detail-box .body .list-footer .item .number [class*=btn-number] {
  padding: 0.2rem;
}
.detail-box .body .list-heading .item .number [class*=btn-number] > span,
.detail-box .body .list-body .item .number [class*=btn-number] > span,
.detail-box .body .list-footer .item .number [class*=btn-number] > span {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.detail-box .body .list-heading .item .number [class*=btn-number] > span.i-dec,
.detail-box .body .list-body .item .number [class*=btn-number] > span.i-dec,
.detail-box .body .list-footer .item .number [class*=btn-number] > span.i-dec {
  background-image: url(../images/i-decrease.svg);
}
.detail-box .body .list-heading .item .number [class*=btn-number] > span.i-inc,
.detail-box .body .list-body .item .number [class*=btn-number] > span.i-inc,
.detail-box .body .list-footer .item .number [class*=btn-number] > span.i-inc {
  background-image: url(../images/i-increase.svg);
}
.detail-box .body .list-heading .item .number .item-number,
.detail-box .body .list-body .item .number .item-number,
.detail-box .body .list-footer .item .number .item-number {
  font-family: Bd;
  font-size: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.detail-box .body .list-heading .item .label,
.detail-box .body .list-body .item .label,
.detail-box .body .list-footer .item .label {
  flex-grow: 1;
  text-align: left;
}
.detail-box .body .list-heading .item .value,
.detail-box .body .list-body .item .value,
.detail-box .body .list-footer .item .value {
  width: 120px;
  min-width: 120px;
  text-align: right;
}
.detail-box .body .list-heading .item .number + .value,
.detail-box .body .list-body .item .number + .value,
.detail-box .body .list-footer .item .number + .value {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail-box .body .list-heading {
  padding-top: 0;
}
.detail-box .body .list-body .item .label {
  font-family: Reg;
  color: rgba(0, 0, 0, 0.8);
}
.detail-box .body .list-footer .item .label,
.detail-box .body .list-footer .item .value {
  font-family: Bd;
  font-size: 24px;
}
.btn-next,
.btn-checkout,
.btn-cancel,
.btn-noti {
  display: block;
  padding: 0.6rem;
  width: 100%;
  height: 48px;
  font-family: Med;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.8);
  appearance: none;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.btn-next:disabled,
.btn-checkout:disabled,
.btn-cancel:disabled,
.btn-noti:disabled {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.1);
}

.form-item + .btn,
.btn + .btn {
  margin-top: 0.6rem;
}

.btn-next {
  color: #FFF;
  background-color: #D26132;
}

.btn-checkout {
  color: #D26132;
  background-color: #FFF;
}

.btn-cancel {
  color: #D26132;
}

.btn-noti {
  padding-right: 1rem;
  padding-left: 1rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Bd;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  border: 1px solid #D26132;
  -webkit-box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.25);
}
.btn-noti .number {
  margin-left: 0.4rem;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #FFF;
  background-color: #C52121;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}
